.app__about {
  width: 100%;
  flex-direction: column;
}

.app__profiles {
  display: grid;
  grid-template-rows: repeat(200px, 500px);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: space-around;
  height: auto;

  border: 3px solid var(--highlight-color);
  border-radius: 15px;

  margin: 2rem;
}

.app__profile-item {
  /* width: 400px; */
  display: grid;
  place-items: center;

  padding: 1rem;

  box-shadow: 0 0 2px var(--highlight-color);
  border-radius: 15px;

  h2,
  p {
    text-align: center; /* For horizontal centering */
    display: flex;
    justify-content: center; /* For vertical centering */
    align-items: center; /* For vertical centering */
    padding-top: 1rem;
    font-size: 2rem;
    font-family: var(--font-base);
  }

  h2 {
    color: var(--primary-color);
  }

  p {
    color: var(--secondary-color);
    font-size: 1rem;
  }

  @media screen and (max-width: 900px) {
    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }
  }
}
