@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --font-base: "Poppins", sans-serif;

  --primary-color: #ff4c29;
  --secondary-color: #ff9100;
  --highlight-color: #52b9d3;
  --background-color: #0d051a;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: rgb(129, 133, 137);
  --brown-color: #46364a;
  --white-color: #ffffff;
  --offwhite-color: #fafafa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
